.container-foot{
  position: relative;
}

.footer{
  background-color: gray;
  height: 50px;
  font-family: Didot;
  text-align: center;
  padding-top: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
  clear: both;
}
