<app-header></app-header>
<!--second bar/menu bar-->
<div class="navbar">
    <div class="pfa-title">PFA CATANA NATALIA</div>
    <div class="ul">
      <div class="li"><a routerLink="acasa" style="color: black;text-decoration: none">Acasa</a></div>
      <div class="li"><a routerLink="servicii" style="color: black;text-decoration: none">Servicii</a></div>
      <div class="li"><a routerLink="despreasociatie" style="color: black;text-decoration: none">Despre asociatie</a></div>
      <div class="li"><a routerLink="contact" style="color: black;text-decoration: none">Contact</a></div>
    </div>
</div>
<router-outlet></router-outlet>
<app-footer></app-footer>







