@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

.h2{
  font-family: Didot, sans-serif;
  font-size: xxx-large;
  margin-top: 150px;
  text-align: right;
  margin-right: 70px;
  letter-spacing: 4px;
  color: black;
}
