.background{
  position: absolute;
  width: 100%;
  height: 100%;
/*  display: flex;
  position: relative;
  overflow: hidden;*/
}

.h2{
  font-family: Didot;
  background-color: azure;
  text-align: left;
  margin-right: 600px;

}
